 {
 	"extends": "eslint-config-airbnb",
 	"settings": {
 		"import/ignore": ["node_modules", "\\.(coffee|scss|css|less|hbs|svg|json)$", "flarum"]
 	},
 	"rules": {
 		"import/no-unresolved": ["error", {
 			"commonjs": true,
 			"ignore": ["flarum"]
 		}]
 	}
 }
