{
	"extends": "eslint-config-airbnb",
	"rules": {
		"import/no-unresolved": "off",
		"import/no-extraneous-dependencies": "off",
		"import/extensions": ["error", "never"]
	},
	"env": {
        	"jquery": true
    	},
	"globals": {
        	"app": false,
        	"m": false
    	}
}
