.Badge--social {
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.UserCard-info > .social-button {
  margin-right: 0;
}

.social-settings > .fa-cog {
  border-left: 1px solid white;
  width: 120%;
}

.form-group-social {
  display: grid;
  grid-template-areas:
    "titleTextField titleTextField"
    "dropdown       urlTextField";
  grid-template-columns: min-content auto;
  grid-gap: 4px;
  gap: 4px;
  margin-bottom: 12px;

  padding-bottom: 12px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);

  .Button--icon .Button-caret {
    display: inline-block;
  }

  .SocialFormControl {
    height: 36px;
    padding: 0 13px;
    font-size: 13px;
    line-height: 36px;
    background-color: #fff;
    color: #111;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: border-color 0.15s, background-color 0.15s;

    &-title {
      grid-area: titleTextField;
    }

    &-url {
      grid-area: urlTextField;
    }
  }

  .icondropdown-activeIcon {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    max-height: 100%;
    width: 1.25em;
  }

  .iconpicker {
    grid-area: dropdown;

    > button {
      height: 36px;
      width: 36px;
      padding-left: 8px;
      padding-right: 8px;
    }

    &-item {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 4px;
      text-align: center;
      cursor: pointer;
      border-radius: 3px;
      font-size: 18px;
      box-shadow: 0 0 0 1px #ddd;
      color: #111;

      &:hover,
      &:focus,
      &:active {
        background-color: #f1f1f1;
      }

      &--highlighted {
        background-color: #4d698e;
        color: white;

        &:hover,
        &:focus,
        &:active {
          background-color: #364a65;
        }
      }
    }
  }
}

.open .social-dropdown-menu {
  display: grid;
}

.social-dropdown-menu {
  overflow: auto;
  height: 300px;
  max-height: 45vh;
  min-height: 100px;
  z-index: 2055;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transition: none;

  padding: 8px;
  grid-template-columns: repeat(3, minmax(10px, 1fr));
  grid-gap: 8px;
  gap: 8px;

  > li {
    // Force square
    height: 0;
    padding-bottom: 100%;
    position: relative;
  }
}

.social-greyscale-button {
  filter: grayscale(1) brightness(1.5);
}

.social-moderate--highlighted > .Badge-icon {
  color: #f22613;
  transition: 0.5s;
  font-size: 23px;
  animation: fa-spin 2s infinite linear;
}

.social-button--highlightable:hover {
  border-radius: 4px;
  background: #f22613;
}

.fa-pulse {
  animation: fa-spin 1s infinite steps(8);

  @keyframes fa-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(1turn);
    }
  }
}

.SocialButtonsModal .Modal-content {
  overflow: visible;
}
