.Badge--social {
    background: transparent;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.UserCard-info > .social-button {
    margin-right: 0;
}
.social-settings > .fa-cog {
    border-left: 1px solid white;
    width: 120%;
}